# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv_new/
pipenv/   # pipenv フォルダがある場合

# OpenVINO / モデル関連
openvino_model/
ov_opusmt_ja_en/

# PyTorch / Transformers / HF キャッシュ
*.pt
*.bin
*.onnx
*.safetensors
*.lock
hf_cache/
transformers_cache/

# IDE / エディタ関連
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS 一時ファイル
.DS_Store
Thumbs.db
*.log

# その他生成ファイル
*.pyc
*.pyo
*.pyd
*.so
*.dylib

# Docker
*.dockerignore
*.env
