#slideSelectorList {
  position: absolute;
  top: 100%;        /* ボタンの真下 */
  left: 0;
  width: 200px;     /* 好きな幅 */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  margin-top: 4px;  /* ボタンとの隙間 */
  z-index: 50;
}

#slideSelectorBtn{
  color: black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
